<div style="margin-bottom: 5px;">

<!-- BEGIN meta_links --><a href="{meta_links.HELP_URL}" title="{meta_links.HELP_TITLE}">_(HELP)</a> • <!-- END meta_links -->
<!-- BEGIN upload_pic --><a href="{upload_pic.URL}" title="{upload_pic.TITLE}">{upload_pic.NAME}</a> • <!-- END upload_pic -->
<!-- BEGIN meta_links --><a href="{meta_links.SEARCH_URL}">{meta_links.SEARCH_NAME}</a><!-- END meta_links -->

<!-- IF S_IS_USER -->
<!-- BEGIN my_profile --> • <a href="{my_profile.URL}" title="{my_profile.TITLE}">{my_profile.NAME}</a> • <!-- END my_profile -->
<!-- BEGIN my_gallery --><a href="{my_gallery.URL}" title="{my_gallery.TITLE}">{my_gallery.NAME}</a> • <!-- END my_gallery -->
<!-- BEGIN meta_links --><a href="{meta_links.FAV_URL}">{meta_links.FAV_NAME}</a><!-- END meta_links -->
<!-- ENDIF -->

<br />
<!-- BEGIN meta_links -->
  <a href="{meta_links.LASTUP_URL}">{meta_links.LASTUP_NAME}</a> •
  <a href="{meta_links.LASTCOM_URL}">{meta_links.LASTCOM_NAME}</a> •
  <a href="{meta_links.TOPN_URL}">{meta_links.TOPN_NAME}</a> •
  <a href="{meta_links.TOPRATED_URL}">{meta_links.TOPRATED_NAME}</a>
<!-- END meta_links -->
</div>
