<div class="table1">
	<!-- INCLUDE metatag_manager/admin/tabs.html -->
	<p style="padding-bottom: 10px;">_(MM_ENTER_TAGS)</p>
	<form action="{U_SAVE}" method="post" enctype="multipart/form-data" accept-charset="utf-8">
	<table class="forumline" width="90%">
		<tr><th colspan="2">_(MM_COMMON_DESC)</th></tr>
		<tr>
			<td class="row1" width="15%">_(MM_ALL_MODULES)</td>
			<td class="row1" width="85%">
				<input type="text" name="{N_COMMON}" value="{T_COMMON}" size="150" maxlength="255" />
			</td>
		</tr>
	</table>
	<p><input class="mainoption" type="submit" value="_(MM_SAVE)" /></p>
	</form>
</div>