<div style="border-bottom: 1px solid; padding-bottom: 4px;">
	<span class="gen">
	<!-- IF C_COMMON -->
		<strong>_(MM_COMMON)</strong> |&nbsp;
	<!-- ELSE -->
		<a href="{U_COMMON}">_(MM_COMMON)</a> |
	<!-- ENDIF -->
	<!-- IF C_MODULES -->
		<strong>_(MM_MODULES)</strong> |&nbsp;
	<!-- ELSE -->
		<a href="{U_MODULES}">_(MM_MODULES)</a> |
	<!-- ENDIF -->
	 <!-- IF C_VALID -->
		<strong>_(MM_VALID)</strong> |&nbsp;
	<!-- ELSE -->
		<a href="{U_VALID}">_(MM_VALID)</a> |
	<!-- ENDIF -->
	<a href="{U_BUILD}">_(MM_BUILD)</a>
	</span>
</div>
