
<form action="{U_SAVECOMM}" method="post" enctype="multipart/form-data" accept-charset="utf-8">
<table border="0" cellpadding="3" cellspacing="1" width="100%" class="forumline">
	<tr>
		<td class="row1"><span class="gen">_(DISPLAYMODE)</span></td>
		<td class="row2">{S_UMODE}</td>
	</tr><tr>
		<td class="row1"><span class="gen">_(SORTORDER)</span></td>
		<td class="row2">{S_UORDER}</td>
	</tr><tr>
		<td class="row1"><span class="gen">_(THRESHOLD)</span><br />_(SCORENOTE)<br />_(COMMENTSWILLIGNORED)</td>
		<td class="row2">{S_THOLD}</td>
	</tr><tr>
		<td class="row1"><span class="gen">_(NOSCORES)</span></td>
		<td class="row2">{S_NOSCORE}</td>
	</tr><tr>
		<td class="row1"><span class="gen">_(MAXCOMMENT)</span></td>
		<td class="row2"><input type="text" name="commentmax" value="{S_COMMENTMAX}" size="11" maxlength="11" />&nbsp;_(BYTESNOTE)</td>
	</tr><tr>
		<td class="catbottom" colspan="2" align="center" height="28">
		<input type="submit" value="_(SAVECHANGES)" class="mainoption" />&nbsp;&nbsp;
		<input type="reset" value="_(RESET)" name="reset" class="liteoption" /></td>
	</tr>
</table></form>
