
<form action="{U_SUBMIT}" method="post" enctype="multipart/form-data" accept-charset="utf-8">
<table border="0" cellpadding="3" cellspacing="1" width="100%" class="forumline">
	<tr><td class="row1" colspan="2">_(NOPROBLEM)</td></tr>
	<tr>
		<td class="row1"><span class="gen"><label for="lost_username">_(NICKNAME)</label></span></td>
		<td class="row2"><input type="text" name="lost_username" id="lost_username" class="set" tabindex="1" size="25" maxlength="25" /></td>
	</tr><tr>
		<td class="row1"><span class="gen"><label for="lost_email"><strong>_(OR)</strong> _(EMAILADDRESS)</label></span></td>
		<td class="row2"><input type="text" name="lost_email" id="lost_email" class="set" tabindex="2" size="25" maxlength="255" /></td>
	</tr><tr>
		<td class="row1"><span class="gen"><label for="code">_(CONFIRMATIONCODE)</label></span></td>
		<td class="row2"><input type="text" name="code" id="code" class="set" tabindex="3" size="11" maxlength="10" /></td>
	</tr><tr>
		<td class="catbottom" colspan="2" align="center" height="18">
			<input type="hidden" name="op" value="mailpasswd" /><input type="submit" class="mainoption" value="_(SENDPASSWORD)" /></td>
	</tr>
</table></form>
