<div>


<b>{RATE_THIS_PIC}</b> {VOTES}<br />

<div class="ratings">
<form method="post" action="{U_RATE_PIC}">
  <input type="hidden" name="pic" value="{PID}" />
  <input type="hidden" name="rate" value="0" />
  <input type="hidden" name="currentpage" value="{CURRENTPAGE}" />
  <input name="submit" type="image" src="{COP_IMAG}/ratings/rating0.gif" title="{RUBBISH}" alt="{RUBBISH}" />
</form>

<form method="post" action="{U_RATE_PIC}">
  <input type="hidden" name="pic" value="{PID}" />
  <input type="hidden" name="rate" value="1" />
  <input type="hidden" name="currentpage" value="{CURRENTPAGE}" />
  <input name="submit" type="image" src="{COP_IMAG}/ratings/rating1.gif" title="{POOR}" alt="{POOR}" />
</form>

<form method="post" action="{U_RATE_PIC}">
  <input type="hidden" name="pic" value="{PID}" />
  <input type="hidden" name="rate" value="2" />
  <input type="hidden" name="currentpage" value="{CURRENTPAGE}" />
  <input name="submit" type="image" src="{COP_IMAG}/ratings/rating2.gif" title="{FAIR}" alt="{FAIR}" />
</form>

<form method="post" action="{U_RATE_PIC}">
  <input type="hidden" name="pic" value="{PID}" />
  <input type="hidden" name="rate" value="3" />
  <input type="hidden" name="currentpage" value="{CURRENTPAGE}" />
  <input name="submit" type="image" src="{COP_IMAG}/ratings/rating3.gif" title="{GOOD}" alt="{GOOD}" />
</form>

<form method="post" action="{U_RATE_PIC}">
  <input type="hidden" name="pic" value="{PID}" />
  <input type="hidden" name="rate" value="4" />
  <input type="hidden" name="currentpage" value="{CURRENTPAGE}" />
  <input name="submit" type="image" src="{COP_IMAG}/ratings/rating4.gif" title="{EXCELLENT}" alt="{EXCELLENT}" />
</form>

<form method="post" action="{U_RATE_PIC}">
  <input type="hidden" name="pic" value="{PID}" />
  <input type="hidden" name="rate" value="5" />
  <input type="hidden" name="currentpage" value="{CURRENTPAGE}" />
  <input name="submit" type="image" src="{COP_IMAG}/ratings/rating5.gif" title="{GREAT}" alt="{GREAT}" />
</form>

<div class="clear"></div>
</div>

</div>
