<!-- cpgmm footer -->
</fieldset></td><td valign="top" width="50%">
<fieldset><legend><b>_(CPG_MMLEGEND)</b></legend>
<table border="0">
<tr><td><img src="{ICON_SELECT}" alt="" border="0" /></td><td>_(CPG_MMVISIBLE)</td></tr>
<tr><td><img src="{ICON_HIDDEN}" alt="" border="0" /></td><td>_(CPG_MMHIDDEN)</td></tr>
<tr><td><img src="{ICON_FORBID}" alt="" border="0" /></td><td>_(INACTIVE)</td></tr>
<tr><td><img src="images/up.gif" alt="" border="0" /></td><td>_(CPG_MMMOVEUP)</td></tr>
<tr><td><img src="images/down.gif" alt="" border="0" /></td><td>_(CPG_MMMOVEDOWN)</td></tr>
<tr><td valign="top">_(TITLE)</td><td>_(CPG_MMTITLE)</td></tr>
<tr><td valign="top">_(IMAGE)</td><td>_(CPG_MMIMAGE)</td></tr>
<tr><td valign="top"><b>getlink</b></td><td>_(CPG_MMGETLINK)<br /><i>Forums&amp;file=viewtopic</i></td></tr>
<tr><td valign="top"><b>link</b></td><td>_(CPG_MMLSAME)<br /><i>adminlink('Delete') / http://example.com/</i></td></tr>
<tr><td valign="top"><b>web</b></td><td>_(CPG_MMLPOPUP)<br /><i>adminlink('Delete') / http://example.com/</i></td></tr>
</table>
</fieldset></td></tr></table></div>
<!-- cpgmm footer end -->