<!-- INCLUDE forums/overall_header.html -->
<h2 class="page_title">{L_INDEX}</h2>

<p class="breadcrumb_traces">
	<a href="{U_MAININDEX}">_(HOME)</a>
	<a href="{U_INDEX}">{L_INDEX}</a>
</p>

<div style="margin-bottom: 10px;">
<a href="{U_MARK_READ}" class="float_right" style="display:block;">{L_MARK_FORUMS_READ}</a>
<a href="{U_FAQ}">{L_FAQ}</a>
 • <a href="{U_SEARCH}">{L_SEARCH}</a>
<!-- IF S_LOGGED_IN -->
 • <a href="{U_SEARCH_NEW}">{S_NEW_POSTS}</a>
 • <a href="{U_SEARCH_SELF}">{L_SEARCH_SELF}</a>
<!-- ENDIF -->
 • <a href="{U_SEARCH_UNANSWERED}">{L_SEARCH_UNANSWERED}</a>
</div>

<!-- BEGIN forumrow -->
<!-- IF forumrow.S_IS_CAT -->
  <!-- PHP -->$i = 0;<!-- ENDPHP -->
  <!-- IF forumrow.S_NOT_FIRST --></div><!-- ENDIF -->
  <a name="{forumrow.CAT_ID}"></a>
  <h2 class="cattitle"><b class="corner-lt"></b><b class="corner-rt"></b>
  <span class="plusminus" onclick="blockslide('{forumrow.S_BID}');" title="_(TOGGLE)">+/-</span><a href="{forumrow.U_VIEWCAT}#{forumrow.CAT_ID}" title="{forumrow.CAT_DESC}">{forumrow.CAT_DESC}</a><span class="corners-bottom"><span></span></span></h2>
  <div id="pe{forumrow.S_BID}" {forumrow.S_VISIBLE}>
<!-- ELSE -->
  <!-- PHP -->
    global $cpgtpl;
    $cpgtpl->assign_var('COLOUR_CLASS',(!($i % 2))?'forumblock1':'forumblock2');
    $i++;
  <!-- ENDPHP -->

  <!-- IF forumrow.S_IS_LINK -->

  <div class="forumblock {COLOUR_CLASS}" onclick="location.href='{forumrow.U_VIEWFORUM}'"><b class="corner-lt"></b><b class="corner-rt"></b>
     <img src="{forumrow.FORUM_FOLDER_IMG}" alt="{forumrow.L_FORUM_FOLDER_ALT}" title="{forumrow.L_FORUM_FOLDER_ALT}" class="folder" />
    <h3><a href="{forumrow.U_VIEWFORUM}">{forumrow.FORUM_NAME}</a></h3>
    <div class="clear"></div>
    <!-- IF forumrow.FORUM_DESC --><div class="forumdesc">{forumrow.FORUM_DESC}</div><!-- ENDIF -->
    <br style="clear:both;" />
  <span class="corners-bottom"><span></span></span></div>

  <!-- ELSE -->

  <div class="forumblock {COLOUR_CLASS}" onclick="location.href='{BASE_URL}{forumrow.U_VIEWFORUM}'"><b class="corner-lt"></b><b class="corner-rt"></b>
    <img src="{forumrow.FORUM_FOLDER_IMG}" alt="{forumrow.L_FORUM_FOLDER_ALT}" title="{forumrow.L_FORUM_FOLDER_ALT}" class="folder" />
    <div class="last_post">
      <!-- IF forumrow.LAST_POST_TIME -->
        {L_LAST_POST}: <a href="{forumrow.U_LAST_POST}">{forumrow.LAST_POST_TIME}</a><br />
        _(BY): <!-- IF forumrow.U_LAST_POSTER --><a href="{forumrow.U_LAST_POSTER}">{forumrow.LAST_POSTER}</a><!-- ELSE -->{forumrow.LAST_POSTER}<!-- ENDIF -->
      <!-- ELSE -->{L_NO_POSTS}<!-- ENDIF -->
    </div>
    <h3><a href="{forumrow.U_VIEWFORUM}">{forumrow.FORUM_NAME}</a></h3>
    <div class="clear"></div>
    <!-- IF forumrow.FORUM_DESC --><div class="forumdesc">{forumrow.FORUM_DESC}</div><!-- ENDIF -->
    <div class="topicsposts">
      <div class="topicsposts_numbers">{forumrow.TOPICS}<br />{forumrow.POSTS}</div>
      <div class="topicsposts_name">{L_TOPICS}:<br />{L_POSTS}:</div>
    </div>
    <br style="clear:both;" />
  <span class="corners-bottom"><span></span></span></div>

  <!-- ENDIF -->

<!-- ENDIF -->
<!-- BEGINELSE -->
{L_NO_FORUMS}
<!-- END forumrow -->
<!-- IF COLOUR_CLASS --></div><!-- ENDIF -->

<div style="margin-top: 20px;">
	<a href="{U_MARK_READ}" class="float_right">{L_MARK_FORUMS_READ}</a>
</div>
<br style="clear:both;" />

<div class="forumlegend">
<img src="{FORUM_NEW_IMG}" alt="" />{L_NEW_POSTS}<img src="{FORUM_IMG}" alt="" />{L_NO_NEW_POSTS}<img src="{FORUM_LOCKED_IMG}" alt="" />{L_FORUM_LOCKED}
</div>
<!-- INCLUDE forums/overall_footer.html -->
