<!--This might be aswell PM or smth like that maybe <div class="pagetitle forumpagetitle">
<a href="{U_MAININDEX}">_(HOME)</a> {BC_DELIM} <a href="{U_INDEX}">{L_INDEX}</a>
</div>-->

<form action="{S_CONFIRM_ACTION}" method="post" {I18N}>
<div class="curved">
<b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
<div class="boxcontent">
<p style="text-align:center;padding:10px;font-weight: bold;">{MESSAGE_TITLE}</p>
<p style="text-align:center;padding:10px;">{MESSAGE_TEXT}</p>
</div>
<b class="bottom"><b class="b4"></b><b class="b3"></b><b class="b2"></b><b class="b1"></b></b>
</div>
</form>
