<!-- IF S_SIMPLE_HEADER -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="{S_CONTENT_DIRECTION}" xml:lang="en" lang="en">
<head>
  <base href="{S_CONTENT_BASE}" />
  <meta http-equiv="Content-Type" content="text/html; charset={S_CONTENT_ENCODING}" />
  <meta http-equiv="Content-Style-Type" content="text/css" />
  {META}
  <title>{S_SITENAME} {BC_DELIM} {PAGE_TITLE} </title>
  <link rel="stylesheet" type="text/css" href="{THEME_PATH}/style/style.css" />
</head>
<body>
<!-- ENDIF -->
<a name="top"></a>
