<h3>{L_PREVIEW}</h3>

<div class="wip_post row1"><b class="corner-lt"></b><b class="corner-rt"></b>

  <div class="wip_postbody">

    <h3>{POST_SUBJECT}</h3>

    <p class="wip_postdetails">
      <img src="{THEME_PATH}/images/forums/icon_minipost.gif" alt="{L_POST}" title="{L_POST}" />
      {L_POSTED}: {POST_DATE}
    </p>

    <div class="wip_content">
      {MESSAGE}
      <!-- BEGIN postrow -->
      {ATTACHMENTS}
      <!-- END postrow -->
    </div>

  </div>

<span class="corners-bottom"><span></span></span></div>
<br />
