/*As Safari already smooths the fonts, let's use some normal font, not already smoothed font*/
/*body {
  font: 12px arial, verdana, sans-serif;
}
font, th, td, p {
  font: 12px arial, verdana, sans-serif;
}
.headertitle {
  font: bold 22px/120% Verdana, Arial, Helvetica, sans-serif;
  text-shadow: 2px 2px 2px #DADADA;
}
.maintitle, h1, h2 {
  font: bold 22px/120% Verdana, Arial, Helvetica, sans-serif;
}*/
