
<h1>{L_CONFIGURATION_TITLE}</h1>

<p>{L_CONFIGURATION_EXPLAIN}</p>

<form action="{S_CONFIG_ACTION}" method="post" {I18N}>
<table width="99%" cellpadding="4" cellspacing="1" border="0" align="center" class="forumline" summary="">
    <tr>
      <th class="thHead" colspan="2">{L_GENERAL_SETTINGS}</th>
    </tr>
    <tr>
        <td class="row1">{L_BOARD_EMAIL_FORM}<br /><span class="gensmall">{L_BOARD_EMAIL_FORM_EXPLAIN}</span></td>
        <td class="row2"><input type="radio" name="board_email_form" value="1" {BOARD_EMAIL_FORM_ENABLE} /> {L_ENABLED}&nbsp;&nbsp;<input type="radio" name="board_email_form" value="0" {BOARD_EMAIL_FORM_DISABLE} /> {L_DISABLED}</td>
    </tr>
    <tr>
        <td class="row1">{L_FLOOD_INTERVAL} <br /><span class="gensmall">{L_FLOOD_INTERVAL_EXPLAIN}</span></td>
        <td class="row2"><input class="post" type="text" size="3" maxlength="4" name="flood_interval" value="{FLOOD_INTERVAL}" /></td>
    </tr>
    <tr>
        <td class="row1">{L_TOPICS_PER_PAGE}</td>
        <td class="row2"><input class="post" type="text" name="topics_per_page" size="3" maxlength="4" value="{TOPICS_PER_PAGE}" /></td>
    </tr>
    <tr>
        <td class="row1">{L_POSTS_PER_PAGE}</td>
        <td class="row2"><input class="post" type="text" name="posts_per_page" size="3" maxlength="4" value="{POSTS_PER_PAGE}" /></td>
    </tr>
    <tr>
        <td class="row1">{L_HOT_THRESHOLD}</td>
        <td class="row2"><input class="post" type="text" name="hot_threshold" size="3" maxlength="4" value="{HOT_TOPIC}" /></td>
    </tr>
    <tr>
        <td class="row1">{L_DEFAULT_STYLE}</td>
        <td class="row2">{STYLE_SELECT}</td>
    </tr>
    <tr>
        <td class="row1">{L_OVERRIDE_STYLE}<br /><span class="gensmall">{L_OVERRIDE_STYLE_EXPLAIN}</span></td>
        <td class="row2"><input type="radio" name="override_user_style" value="1" {OVERRIDE_STYLE_YES} /> {L_YES}&nbsp;&nbsp;<input type="radio" name="override_user_style" value="0" {OVERRIDE_STYLE_NO} /> {L_NO}</td>
    </tr>
    <tr>
        <td class="row1">{L_DATE_FORMAT}<br /><span class="gensmall">{L_DATE_FORMAT_EXPLAIN}</span></td>
        <td class="row2"><input class="post" type="text" name="default_dateformat" value="{DEFAULT_DATEFORMAT}" /></td>
    </tr>
    <tr>
        <td class="row1">{L_SYSTEM_TIMEZONE}</td>
        <td class="row2">{TIMEZONE_SELECT}</td>
    </tr>
    <tr>
        <td class="row1">{L_ENABLE_ARCHIVE}</td>
        <td class="row2"><input type="radio" name="archive_enable" value="1" {ARCHIVE_YES} /> {L_YES}&nbsp;&nbsp;<input type="radio" name="archive_enable" value="0" {ARCHIVE_NO} /> {L_NO}</td>
    </tr>
    <tr>
        <td class="row1">{L_ENABLE_PRUNE}</td>
        <td class="row2"><input type="radio" name="prune_enable" value="1" {PRUNE_YES} /> {L_YES}&nbsp;&nbsp;<input type="radio" name="prune_enable" value="0" {PRUNE_NO} /> {L_NO}</td>
    </tr>
    <tr>
        <td class="row1">{L_RECYCLE_ALLOW}</td>
        <td class="row2"><input type="radio" name="allow_topic_recycle" value="1" {RECYCLE_YES} /> {L_YES}&nbsp;&nbsp;<input type="radio" name="allow_topic_recycle" value="0" {RECYCLE_NO} /> {L_NO}</td>
    </tr>
    <tr>
        <td class="row1">{L_RECYCLE_FORUM}</td>
        <td class="row2">{RECYCLE_SELECT}</td>
    </tr>
    <tr>
        <td class="row1">{L_ALLOW_ONLINE_INDEX}</td>
        <td class="row2">{ALLOW_ONLINE_INDEX}</td>
    </tr>
    <tr>
        <td class="row1">{L_ONLINE_INDEX_GROUP}</td>
        <td class="row2">{ONLINE_INDEX_GROUP}</td>
    </tr>
    <tr>
        <td class="row1">{L_ALLOW_ONLINE_TODAY}</td>
        <td class="row2">{ALLOW_ONLINE_TODAY}</td>
    </tr>
    <tr>
        <td class="row1">{L_ONLINE_TODAY_GROUP}</td>
        <td class="row2">{ONLINE_TODAY_GROUP}</td>
	</tr>
	<tr>
		<td class="row1">{L_ADMIN_COLOR}</td>
		<td class="row2"><input class="post" type="text" name="admin_color" size="7" maxlength="7" value="{ADMIN_COLOR}" /></td>
	</tr>
	<tr>
		<td class="row1">{L_MODERATOR_COLOR}</td>
		<td class="row2"><input class="post" type="text" name="moderator_color" size="7" maxlength="7" value="{MODERATOR_COLOR}" /></td>
	</tr>
	<tr>
		<td class="row1">{L_MEMBER_COLOR}</td>
		<td class="row2"><input class="post" type="text" name="member_color" size="7" maxlength="7" value="{MEMBER_COLOR}" /></td>
	</tr>
    <tr>
        <td class="row1">{L_ALLOW_ONLINE_POSTS}</td>
        <td class="row2"><input type="radio" name="allow_online_posts" value="1" {ONLINE_POSTS_YES} /> {L_YES}&nbsp;&nbsp;<input type="radio" name="allow_online_posts" value="0" {ONLINE_POSTS_NO} /> {L_NO}</td>
    </tr>
	<tr>
		<td class="row1">{L_RESTRICTED_GROUP}<br /><span class="gensmall">{L_RESTRICTED_GROUP_EXPLAIN}</span></td>
		<td class="row2">{RESTRICTED_GROUP}</td>
    </tr>
    <tr>
      <th class="thHead" colspan="2">{L_ABILITIES_SETTINGS}</th>
    </tr>
    <tr>
        <td class="row1">{L_MAX_POLL_OPTIONS}</td>
        <td class="row2"><input class="post" type="text" name="max_poll_options" size="4" maxlength="4" value="{MAX_POLL_OPTIONS}" /></td>
    </tr>
    <tr>
        <td class="row1">{L_ALLOW_HTML}</td>
        <td class="row2"><input type="radio" name="allow_html" value="1" {HTML_YES} /> {L_YES}&nbsp;&nbsp;<input type="radio" name="allow_html" value="0" {HTML_NO} /> {L_NO}</td>
    </tr>
    <tr>
        <td class="row1">{L_ALLOWED_TAGS}<br /><span class="gensmall">{L_ALLOWED_TAGS_EXPLAIN}</span></td>
        <td class="row2"><input class="post" type="text" size="30" maxlength="255" name="allow_html_tags" value="{HTML_TAGS}" /></td>
    </tr>
    <tr>
        <td class="row1">{L_ALLOW_BBCODE}</td>
        <td class="row2"><input type="radio" name="allow_bbcode" value="1" {BBCODE_YES} /> {L_YES}&nbsp;&nbsp;<input type="radio" name="allow_bbcode" value="0" {BBCODE_NO} /> {L_NO}</td>
    </tr>
    <tr>
        <td class="row1">{L_ALLOW_SMILIES}</td>
        <td class="row2"><input type="radio" name="allow_smilies" value="1" {SMILE_YES} /> {L_YES}&nbsp;&nbsp;<input type="radio" name="allow_smilies" value="0" {SMILE_NO} /> {L_NO}</td>
    </tr>
    <tr>
        <td class="row1">{L_ALLOW_SIG}</td>
        <td class="row2"><input type="radio" name="allow_sig" value="1" {SIG_YES} /> {L_YES}&nbsp;&nbsp;<input type="radio" name="allow_sig" value="0" {SIG_NO} /> {L_NO}</td>
    </tr>
    <tr>
        <td class="row1">{L_ALLOW_FORUM_WATCH}</td>
        <td class="row2"><input type="radio" name="allow_forum_watch" value="1" {FWATCH_YES} /> {L_YES}&nbsp;&nbsp;<input type="radio" name="allow_forum_watch" value="0" {FWATCH_NO} /> {L_NO}</td>
    </tr>
    <tr>
        <td class="row1">{L_ALLOW_USER_CLOAK}<br /><span class="gensmall">{L_ALLOW_USER_CLOAK_EXPLAIN}</span></td>
        <td class="row2"><input type="radio" name="allow_user_cloak" value="1" {ALLOW_CLOAK_YES} /> {L_YES}&nbsp;&nbsp;<input type="radio" name="allow_user_cloak" value="0" {ALLOW_CLOAK_NO} /> {L_NO}</td>
    </tr>
    <tr>
        <td class="row1">{L_ALLOW_CLOAK_GROUP}</td>
        <td class="row2">{ALLOW_CLOAK_GROUP}</td>
	</tr>
    <tr>
        <td class="row1">{L_EDIT_LAST_POST_ONLY}</td>
        <td class="row2"><input type="radio" name="edit_last_post_only" value="1" {LAST_POST_YES} /> {L_YES}&nbsp;&nbsp;<input type="radio" name="edit_last_post_only" value="0" {LAST_POST_NO} /> {L_NO}</td>
    </tr>
    <tr>
        <td class="row1">{L_GUEST_CAPTCHA}</td>
        <td class="row2"><input type="radio" name="allow_guest_captcha" value="1" {GUEST_CAPTCHA_YES} /> {L_YES}&nbsp;&nbsp;<input type="radio" name="allow_guest_captcha" value="0" {GUEST_CAPTCHA_NO} /> {L_NO}</td>
    </tr>
    <tr>
      <th class="thHead" colspan="2">{L_COPPA_SETTINGS}</th>
    </tr>
    <tr>
        <td class="row1">{L_COPPA_FAX}</td>
        <td class="row2"><input class="post" type="text" size="25" maxlength="100" name="coppa_fax" value="{COPPA_FAX}" /></td>
    </tr>
    <tr>
        <td class="row1">{L_COPPA_MAIL}<br /><span class="gensmall">{L_COPPA_MAIL_EXPLAIN}</span></td>
        <td class="row2"><textarea name="coppa_mail" rows="5" cols="30">{COPPA_MAIL}</textarea></td>
    </tr>
    <tr>
        <th class="thHead" colspan="2">{L_PRIVATE_MESSAGING}</th>
    </tr>
    <tr>
        <td class="row1">{L_INBOX_LIMIT}</td>
        <td class="row2"><input class="post" type="text" maxlength="4" size="4" name="max_inbox_privmsgs" value="{INBOX_LIMIT}" /></td>
    </tr>
    <tr>
        <td class="row1">{L_SENTBOX_LIMIT}</td>
        <td class="row2"><input class="post" type="text" maxlength="4" size="4" name="max_sentbox_privmsgs" value="{SENTBOX_LIMIT}" /></td>
    </tr>
    <tr>
        <td class="row1">{L_SAVEBOX_LIMIT}</td>
        <td class="row2"><input class="post" type="text" maxlength="4" size="4" name="max_savebox_privmsgs" value="{SAVEBOX_LIMIT}" /></td>
    </tr>
        <tr><th class="thHead" colspan="2">{L_ROPM_QUICK_REPLY}</th>
    </tr>
    <tr>
        <td class="row1">{L_ENABLE_ROPM_QUICK_REPLY}</td>
        <td class="row2"><input type="radio" name="ropm_quick_reply" value="1" {ROPM_QUICK_REPLY_YES} /> {L_YES}&nbsp;&nbsp;<input type="radio" name="ropm_quick_reply" value="0" {ROPM_QUICK_REPLY_NO} /> {L_NO}</td>
    </tr>
    <tr>
        <td class="row1">{L_ROPM_QUICK_REPLY_BBC}</td>
        <td class="row2"><input type="radio" name="ropm_quick_reply_bbc" value="1" {ROPM_QUICK_REPLY_BBC_YES} /> {L_YES}&nbsp;&nbsp;<input type="radio" name="ropm_quick_reply_bbc" value="0" {ROPM_QUICK_REPLY_BBC_NO} /> {L_NO}</td>
    </tr>

    <tr>
        <td class="catBottom" colspan="2" align="center">{S_HIDDEN_FIELDS}<input type="submit" name="submit" value="{L_SUBMIT}" class="mainoption" />&nbsp;&nbsp;<input type="reset" value="{L_RESET}" class="liteoption" />
        </td>
    </tr>
</table></form>

<br clear="all" />
