
<h1 align="center">{L_FORUM_ARCHIVE}</h1>

<p align="center">{L_FORUM_ARCHIVE_EXPLAIN}</p>

<h2 align="center">{L_FORUM}: {FORUM_NAME}</h2>

<form method="post"	action="{S_FORUMARCHIVE_ACTION}" {I18N}>
  <table cellspacing="1" cellpadding="4" border="0" align="center" class="forumline" summary="">
	<tr>
	  <th class="thHead">{L_FORUM_ARCHIVE}</th>
	</tr>
	<tr>
	  <td class="row1">{S_ARCHIVE_DATA}</td>
	</tr>
	<tr>
	  <td class="catBottom" align="center">{S_HIDDEN_VARS}
		<input type="submit" name="doarchive" value="{L_DO_ARCHIVE}" class="mainoption" />
	  </td>
	</tr>
  </table>
</form>
