/*  CSS file sized for <= 480 (mobile) screens */

/* CSS/js force reduction in img size */
div.wip_postbody img {
max-width: 465px;
width: expression(document.body.clientWidth > 465 ? "465px" : "auto");
height: auto;
}

.wip_postbody {
    width: 465px;
}
