/*  CSS file sized for <= 1680 screens */

/* CSS/js force reduction in img size */
div.wip_postbody img {
max-width: 1380px;
width: expression(document.body.clientWidth > 1380 ? "1380px" : "auto");
height: auto;
}

.wip_postbody {
    width: 1380px;
}
