<form action="{S_CONFIRM_ACTION}" method="post" {I18N}>
<div class="curved">
<b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b>
<div class="boxcontent">
<p style="text-align:center;padding:10px;font-weight: bold;">{MESSAGE_TITLE}</p>
<p style="text-align:center;padding:10px;">{MESSAGE_TEXT}</p>
{S_HIDDEN_FIELDS}
<p style="text-align: center;">
<input type="submit" name="confirm" value="{L_YES}" class="mainoption" />&nbsp;&nbsp;<input type="submit" name="cancel" value="{L_NO}" class="liteoption" />
</p>
</div>
<b class="bottom"><b class="b4"></b><b class="b3"></b><b class="b2"></b><b class="b1"></b></b>
</div>
</form>
