<form method="post" action="{S_MODE_ACTION}" {I18N}>
	<div style="float:right;">
		{L_SELECT_SORT_METHOD}:&nbsp;{S_MODE_SELECT}&nbsp;&nbsp;{L_ORDER}:&nbsp;{S_ORDER_SELECT}&nbsp;&nbsp;
        <input type="submit" name="submit" value="{L_SUBMIT}" />
    </div>
</form>
<br /><br />

<!-- BEGIN memberrow -->

<!-- PHP -->
get_user_avatar($this->_tpldata['memberrow'][$this->_memberrow_i]['USERNAME']);
<!-- ENDPHP -->

<div class="memberslist_user {memberrow.ROW_CLASS}"><b class="corner-lt">&nbsp;</b><b class="corner-rt">&nbsp;</b>
	<div class="user_container">
		<div class="user_info">
			<div class="avatar_box"><a href="{memberrow.U_VIEWPROFILE}" class="user_avatar"><img class="{G_LRG_AVATAR}" src="{S_AVATAR_IMG}" alt="" /></a></div>
		</div>
		<div class="memlist">
			<a href="{memberrow.U_VIEWPROFILE}" class="user_name">{memberrow.USERNAME}</a><br />
			{memberrow.EMAIL}<br />	<!-- This is actually rank not email -->
			<span class="memlabel">{L_POSTS}:</span> {memberrow.POSTS}&nbsp;
			<span class="memright"><span class="memlabel">{L_JOINED}:</span> {memberrow.JOINED}</span><br />
			<!-- IF memberrow.FROM != '&nbsp;' --><span class="memlabel">{L_FROM}:</span> <span class="memloc">{memberrow.FROM}</span><br /><!-- ENDIF -->
		</div>

		<div class="user_icons">
			<!-- IF S_IS_USER --><!-- IF memberrow.PM_IMG -->
				<div class="ml_icon pm_image" style="background-image: url('{PM_IMAGE}');">{memberrow.PM_IMG}</div>
			<!-- ENDIF --><!-- ENDIF -->
			<!-- IF memberrow.WWW_IMG --><div class="ml_icon www_image" style="background-image: url('{WWW_IMAGE}');">{memberrow.WWW_IMG}</div><!-- ENDIF -->
		</div>
	</div>

<span class="corners-bottom"><span>&nbsp;</span></span></div>
<!-- END memberrow -->

<div class="clear"></div>

<div>
	<div class="nav" style="float:left;">{PAGE_NUMBER}</div>
    <div class="nav" style="float:right;">{PAGINATION}</div>
</div><br />

